In [1]:
import pandas as pd
df=pd.read_csv('/home/davide/Downloads/user_ko.txt',sep='\t')
df

      WP_009632395.1  K04751
0     WP_041548398.1  K02518
1     WP_073591590.1  K08696
2     WP_190736661.1  K00355
3     WP_250121152.1     NaN
4     WP_250121153.1     NaN
...              ...     ...
5300  WP_275983394.1  K02708
5301  WP_275983395.1  K02003
5302  WP_275983396.1  K21498
5303  WP_275983397.1     NaN
5304  WP_275983398.1     NaN

[5305 rows x 2 columns]

In [3]:
#drop NaN
df.dropna(inplace=True)
df

      WP_009632395.1  K04751
0     WP_041548398.1  K02518
1     WP_073591590.1  K08696
2     WP_190736661.1  K00355
5     WP_250121154.1  K02851
6     WP_250121155.1  K02706
...              ...     ...
5294  WP_275983388.1  K05516
5296  WP_275983390.1  K09767
5300  WP_275983394.1  K02708
5301  WP_275983395.1  K02003
5302  WP_275983396.1  K21498

[2105 rows x 2 columns]

In [4]:
#save as txt
df.to_csv('/home/davide/Downloads/user_ko_filtered.txt',sep='\t',index=False)